@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 223 39% 7%;
    --foreground: 0 0% 89.8%;
    --card: 219 44% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 223 39% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 33.3 100% 96.5%;
    --primary-foreground: 0 0% 9%;
    --secondary: 222 39% 13%;
    --secondary-foreground: 0 0% 98%;
    --muted: 227 16% 11%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 215 28% 17%;
    --accent-foreground: 220 14.3% 95.9%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 39% 13%;
    --input: 222 40% 20%;
    --ring: 224.4 64.3% 32.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 8px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
